{
  "openapi": "3.1.1",
  "info": {"title": "Tinlance API", "version": "1.0.0", "description": "Stable customer and integration API for governed Tinlance business capabilities."},
  "servers": [{"url": "https://tinlance.com", "description": "Production"}],
  "security": [{"bearerAuth": []}],
  "tags": [{"name":"Projects"},{"name":"Assessments"},{"name":"Findings"},{"name":"Evidence"},{"name":"Reports"},{"name":"Remediation"},{"name":"Workflow Runs"},{"name":"API Credentials"},{"name":"Webhooks"}],
  "paths": {
    "/v1": {"get": {"operationId":"getApiMetadata","security":[],"responses":{"200":{"description":"API metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiMetadata"}}}}}}},
    "/v1/projects": {
      "get": {"operationId":"listProjects","tags":["Projects"],"parameters":[{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"429":{"$ref":"#/components/responses/Problem"}}},
      "post": {"operationId":"createProject","tags":["Projects"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProject"}}}},"responses":{"201":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"422":{"$ref":"#/components/responses/Problem"}}}
    },
    "/v1/projects/{projectId}": {
      "get":{"operationId":"getProject","tags":["Projects"],"parameters":[{"$ref":"#/components/parameters/ProjectId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}},
      "patch":{"operationId":"updateProject","tags":["Projects"],"parameters":[{"$ref":"#/components/parameters/ProjectId"},{"$ref":"#/components/parameters/IfMatch"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProject"}}}},"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"},"412":{"$ref":"#/components/responses/Problem"},"422":{"$ref":"#/components/responses/Problem"}}}
    },
    "/v1/projects/{projectId}/assessments": {
      "get":{"operationId":"listProjectAssessments","tags":["Assessments"],"parameters":[{"$ref":"#/components/parameters/ProjectId"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}},
      "post":{"operationId":"createAssessment","tags":["Assessments"],"parameters":[{"$ref":"#/components/parameters/ProjectId"},{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAssessment"}}}},"responses":{"201":{"$ref":"#/components/responses/Resource"},"400":{"$ref":"#/components/responses/Problem"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"},"409":{"$ref":"#/components/responses/Problem"},"422":{"$ref":"#/components/responses/Problem"}}}
    },
    "/v1/assessments/{assessmentId}": {"get":{"operationId":"getAssessment","tags":["Assessments"],"parameters":[{"$ref":"#/components/parameters/AssessmentId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/assessments/{assessmentId}/execute": {"post":{"operationId":"executeAssessment","tags":["Assessments"],"parameters":[{"$ref":"#/components/parameters/AssessmentId"},{"$ref":"#/components/parameters/IdempotencyKey"}],"responses":{"202":{"$ref":"#/components/responses/Async"},"400":{"$ref":"#/components/responses/Problem"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"},"409":{"$ref":"#/components/responses/Problem"},"429":{"$ref":"#/components/responses/Problem"},"503":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/findings": {"get":{"operationId":"listFindings","tags":["Findings"],"parameters":[{"$ref":"#/components/parameters/ProjectFilter"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/findings/{findingId}": {"get":{"operationId":"getFinding","tags":["Findings"],"parameters":[{"$ref":"#/components/parameters/FindingId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/evidence": {"get":{"operationId":"listEvidence","tags":["Evidence"],"parameters":[{"$ref":"#/components/parameters/ProjectFilter"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/evidence/{evidenceId}": {"get":{"operationId":"getEvidence","tags":["Evidence"],"parameters":[{"$ref":"#/components/parameters/EvidenceId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/reports": {"get":{"operationId":"listReports","tags":["Reports"],"parameters":[{"$ref":"#/components/parameters/ProjectFilter"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/reports/{reportId}": {"get":{"operationId":"getReport","tags":["Reports"],"parameters":[{"$ref":"#/components/parameters/ReportId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/remediations": {"get":{"operationId":"listRemediations","tags":["Remediation"],"parameters":[{"$ref":"#/components/parameters/ProjectFilter"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Cursor"}],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/remediations/{remediationId}": {"get":{"operationId":"getRemediation","tags":["Remediation"],"parameters":[{"$ref":"#/components/parameters/RemediationId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/workflow-runs/{runId}": {"get":{"operationId":"getWorkflowRun","tags":["Workflow Runs"],"parameters":[{"$ref":"#/components/parameters/RunId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/workflow-runs/{runId}/cancel": {"post":{"operationId":"cancelWorkflowRun","tags":["Workflow Runs"],"parameters":[{"$ref":"#/components/parameters/RunId"},{"$ref":"#/components/parameters/IdempotencyKey"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"},"409":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/webhooks": {"get":{"operationId":"listWebhooks","tags":["Webhooks"],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"}}},"post":{"operationId":"createWebhook","tags":["Webhooks"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhook"}}}},"responses":{"201":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"422":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/webhooks/{webhookId}": {"delete":{"operationId":"disableWebhook","tags":["Webhooks"],"parameters":[{"$ref":"#/components/parameters/WebhookId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}},"post":{"operationId":"rotateWebhookSecret","tags":["Webhooks"],"parameters":[{"$ref":"#/components/parameters/WebhookId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/api-keys": {"get":{"operationId":"listApiKeys","security":[],"tags":["API Credentials"],"responses":{"200":{"$ref":"#/components/responses/Collection"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"}}},"post":{"operationId":"createApiKey","security":[],"tags":["API Credentials"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKey"}}}},"responses":{"201":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"422":{"$ref":"#/components/responses/Problem"}}}},
    "/v1/api-keys/{credentialId}": {"delete":{"operationId":"revokeApiKey","security":[],"tags":["API Credentials"],"parameters":[{"$ref":"#/components/parameters/CredentialId"}],"responses":{"200":{"$ref":"#/components/responses/Resource"},"401":{"$ref":"#/components/responses/Problem"},"403":{"$ref":"#/components/responses/Problem"},"404":{"$ref":"#/components/responses/Problem"}}}}
  },
  "components": {
    "securitySchemes": {"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"Tinlance API key"}},
    "parameters": {
      "Limit":{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":25}},"Cursor":{"name":"cursor","in":"query","schema":{"type":"string","maxLength":256}},"ProjectFilter":{"name":"projectId","in":"query","schema":{"type":"string","maxLength":128}},"IfMatch":{"name":"If-Match","in":"header","schema":{"type":"string","maxLength":256}},"IdempotencyKey":{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":1,"maxLength":255}},"ProjectId":{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},"AssessmentId":{"name":"assessmentId","in":"path","required":true,"schema":{"type":"string"}},"FindingId":{"name":"findingId","in":"path","required":true,"schema":{"type":"string"}},"EvidenceId":{"name":"evidenceId","in":"path","required":true,"schema":{"type":"string"}},"ReportId":{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},"RemediationId":{"name":"remediationId","in":"path","required":true,"schema":{"type":"string"}},"RunId":{"name":"runId","in":"path","required":true,"schema":{"type":"string"}},"WebhookId":{"name":"webhookId","in":"path","required":true,"schema":{"type":"string"}},"CredentialId":{"name":"credentialId","in":"path","required":true,"schema":{"type":"string"}}
    },
    "responses": {
      "Problem":{"description":"RFC 9457-compatible problem detail","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},
      "Resource":{"description":"Resource response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},
      "Collection":{"description":"Collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionEnvelope"}}}},
      "Async":{"description":"Accepted asynchronous operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AsyncEnvelope"}}}}
    },
    "schemas": {
      "Envelope":{"type":"object","required":["data","requestId"],"properties":{"data":{},"requestId":{"type":"string"}}},
      "CollectionEnvelope":{"type":"object","required":["data","requestId"],"properties":{"data":{"type":"object","required":["data","pagination"],"properties":{"data":{"type":"array","items":{}},"pagination":{"$ref":"#/components/schemas/Pagination"}}},"requestId":{"type":"string"}}},
      "AsyncEnvelope":{"$ref":"#/components/schemas/Envelope"},"Pagination":{"type":"object","required":["nextCursor","hasMore"],"properties":{"nextCursor":{"type":["string","null"]},"hasMore":{"type":"boolean"}}},
      "Problem":{"type":"object","required":["type","title","status","code","requestId"],"properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer"},"detail":{"type":"string"},"instance":{"type":"string"},"code":{"type":"string"},"requestId":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}}}},
      "ApiMetadata":{"type":"object","required":["apiVersion","status","openapi"],"properties":{"apiVersion":{"type":"string","const":"v1"},"status":{"type":"string","const":"stable"},"openapi":{"type":"string"},"documentation":{"type":"string"},"requestId":{"type":"string"}}},
      "CreateProject":{"type":"object","required":["name"],"additionalProperties":false,"properties":{"name":{"type":"string","minLength":1,"maxLength":200},"type":{"type":"string","maxLength":100},"description":{"type":"string","maxLength":5000},"dueAt":{"type":"string","format":"date-time"}}},
      "UpdateProject":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","minLength":1,"maxLength":200},"type":{"type":["string","null"],"maxLength":100},"description":{"type":["string","null"],"maxLength":5000},"dueAt":{"type":["string","null"],"format":"date-time"}}},
      "CreateAssessment":{"type":"object","required":["type","objective","methodology"],"additionalProperties":false,"properties":{"type":{"type":"string","enum":["cybersecurity","finance","healthtech","logistics","legal","revops","procurement","custom"]},"objective":{"type":"string","minLength":10,"maxLength":5000},"scope":{"type":"object","additionalProperties":true},"methodology":{"type":"string","minLength":10,"maxLength":10000},"version":{"type":"string","default":"1.0"}}},
      "CreateApiKey":{"type":"object","required":["name","scopes"],"additionalProperties":false,"properties":{"name":{"type":"string","minLength":1,"maxLength":100},"scopes":{"type":"array","minItems":1,"items":{"type":"string"}},"expiresAt":{"type":"string","format":"date-time"}}},
      "CreateWebhook":{"type":"object","required":["url","eventTypes"],"additionalProperties":false,"properties":{"url":{"type":"string","format":"uri","pattern":"^https://"},"description":{"type":"string","maxLength":500},"eventTypes":{"type":"array","minItems":1,"items":{"type":"string"}}}}
    }
  }
}
